

/* Parallax Styling */

.parallax {
    min-height: 100vh;
    background-attachment: fixed;
    background-size: cover;
    background-position: 50% 50%;
}

.parallax-img {
    background-image: url("https://images.pexels.com/photos/1062249/pexels-photo-1062249.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=650&w=940");
}

header>h1 {
    margin-top: 300px;
}

.box {
    height: 1000px;
    width: 100%;
    background-color: aquamarine;
}





