/* Header Parallax Element Style*/ 

.paral {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0,0,0,30%), rgba(0, 0, 0,30%)), url(https://images.pexels.com/photos/1182338/pexels-photo-1182338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-attachment: fixed;
    background: rbga(0,0,0,0.25);
    background-size: cover;
    background-position: 50% 50%;
    }
    

    .paral h1 {
        color: rgba(255, 255, 255);
        font-size: 60px;
        text-align: center;
        align-items: center;
        padding-top: 200px;
        line-height: 100px;
        }