/* FONTS */ 
@import url('https://fonts.googleapis.com/css2?family=Oooh+Baby&family=Poppins:wght@300;400;700&display=swap');

/* GENERAL STYLING */

* {
    font-family: 'Poppins', sans-serif;
    font-weight: 300;
}

h1 {
    font-family: 'Oooh Baby', cursive;
    font-size: 5rem !important;
}

/* Header Parallax Element Style*/ 

.paral {
    min-height: 100vh;
    background: linear-gradient(0deg, rgba(0,0,0,40%), rgba(0, 0, 0,40%)), url(https://images.pexels.com/photos/1182338/pexels-photo-1182338.jpeg?auto=compress&cs=tinysrgb&dpr=2&h=750&w=1260);
    background-attachment: fixed;
    background: rbga(0,0,0,0.25);
    background-size: cover;
    background-position: 50% 50%;
    }
    

    .paral h1 {
        color: rgba(255, 255, 255);
        font-size: 60px;
        text-align: center;
        align-items: center;
        padding-top: 420px;
        line-height: 100px;
        }

/* NAVIGATION */

.logo {
    margin: 20px 40px !important;
}

.nav-item {
    margin-right: 80px;
    margin-top: 10px;
}
