/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Righteous&display=swap');

/* COLORS 

Pink: #FF5487
Green: #03BD7D
Yellow: #FDD534
Blue: #00c1f0

*/

* {
    margin: 0 !important;
    padding: 0 !important;
}

h1 {
    font-family: 'Righteous' sans-serif !important;
    font-size: 3rem;
}


.bgimg {
    min-height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
}

@media only screen and (min-width: 768px) {
.navstyle {
    margin-left: 300px !important;
 }
}

.navstyle {
    color: black !important;
}

a {
    color: black !important;
}

.tourstyle {
    color: white !important;
}

.tourpad {
    padding-left: 200px !important;
    padding-top: 75px !important;
}