/* FONTS */

@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;700&family=Righteous&display=swap');

/* COLORS 
Pink: #FF5487
Green: #00FFA5
Yellow: #FDD534
Blue: #00C1F0


*/

/* General Styling */

h1 {
    font-family: 'Righteous' sans-serif !important;
}

h2 {
    font-family: 'Righteous' sans-serif !important;
}

p {
    font-family: 'Poppins' sans-serif !important;
}

a {
    font-family: 'Righteous';
    text-decoration: none !important;
}


/* Background Image */

.bgimg {
    min-height: 100vh;
    background-size: cover;
    background-position: 50% 50%;
    background-attachment: fixed;
    background-image: url('images/flumeheader.png');
}

@media only screen and (max-width: 428px) {
    .bgimg {
        min-height: 100vh;
        background-size: cover;
        background-attachment: fixed;
        background-image: url('images/flumeimg_mobile.png') !important;
    }
}



/* Navigation Styling */

@media only screen and (min-width: 768px) {
    .navstyle {
        padding-left: 300px !important;
        color: black;
        text-decoration: none;
     }
 }

 @media only screen and (max-width: 428px) {
     .navstyle {
         padding-top: 100px !important;
         color: black;
    `    text-decoration: none;
     }
 }

.navhover:hover {
    color:#FF5487 !important;
}
/* Tour Section */

.tourpad {
    padding-left: 300px;
    padding-top: 50px;
}

@media only screen and (min-width: 1000px) {
    .tourpad {
        padding-left: 200px !important;
        padding-top: 50px !important;
    }
}

@media only screen and (max-width: 650px) {
    .tourpad {
        padding-left: 100px !important;
        padding-top: 50px !important;
    }
}

@media only screen and (max-width: 428px) {
    .tourpad {
        padding-left: 50px !important;
        padding-top: 50px !important;
    }
}

.ticketsbtn {
    text-decoration: none;
    color: white;
    font-size: 1.3rem;
    font-family: 'Poppins' sans-serif;
}

.ticketsbtn:hover {
    color:#FDD534;
}

.seemorebtn {
    height: 10px;
    width: 200px;
    background-color: #FDD534;
    padding: 20px;
    margin-bottom: 100px;
    font-family: 'Righteous' sans-serif !important;
    font-size: 1.4rem;
    border-radius: 22px;
    color: black ;
    border: none;
}

.seemorebtn:hover {
    background-color: #FF5487; 
}

/* Music Section */

.number {
    font-size: 5rem;
    font-family: 'Righteous' sans-serif !important;
}

@media only screen and (max-width:991px) {
    .singlepad {
        padding-left: 190px !important;
        padding-top: 20px !important;
    }
}

@media only screen and (max-width:681px) {
    .singlepad {
        padding-left: 100px !important;
        padding-top: 20px !important;
    }
}


@media only screen and (max-width:428px) {
    .singlepad {
        padding-left: 50px !important;
        padding-top: 20px !important;
    }
}

@media only screen and (max-width:333px) {
    .singlepad {
        padding-left: 25px !important;
        padding-top: 20px !important;
    }
}

/* Watch Section */

.videoResponsive {
    padding-bottom:56.25%;
  height:0;
  position:relative;
    padding-top:30px;
    overflow:hidden;
}
.videoResponsive iframe, 
.videoResponsive object, 
.videoResponsive embed {
    position:absolute;
    left:0;
  top:0;
    width:100%;
    height:100%;
}

/* Bio Section */

@media only screen and (min-width: 428px) {
    .bioimg {
        padding-top: 50px !important;
        padding-end: 20px !important;
    }
}

/* Collab Section */

.collabname {
    text-decoration: none !important;
    color: black !important;
    font-family: 'Righteous' sans-serif !important;
    font-size: 1.3rem !important;
}

.collabname:hover {
    color:#FF5487 !important;
}

/* Footer */

.icon {
    color: white !important;
}

.icon:hover {
    color:#00C1F0 !important; 
}

.foothover:hover {
    color: white !important;
} 

@media only screen and (max-width: 428px) {
    .icon {
        color: white !important;
        padding-left: 142px !important;
    }

    .icon:hover {
        color:#00C1F0 !important; 
        padding-left: 142px !important;
    }
}




